
<h1>Thank You For Choosing Realtor Connection</h1>
<h1>Please Schedule A Appointment</h1>

<%= form_for(@appointment) do |f| %> 

    <%= f.label :time %>
    <%= f.time_field :time %>
    <br>

    <%= f.label :status %>
    <%= f.select(:status, ["Sold", "Hold", "Market"]) %> 
    <br>

    <%= f.label :buyername %>
    <%= f.text_field :buyer_name %>
    <br>

    <%= f.label :house, "Select A House" %>
    <%= f.collection_select :house_id, House.all, :id, :name %>
     
    <br><br>

    <%= f.submit "Schedule Appointment" %>
<% end %>